<!-- <html> -->
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/nav', { posts: true }); %>
    <div class="main">
        <h1>Posts</h1>
    
        <div class="posts__list">
            <% locals.posts && locals.posts.forEach(post => { %>
            <div class="posts__list-item">
                <h5 class="posts__list-item--title"><%= post.title %></h5>
                <a class="posts__list-item--link" href="/posts/<%= post.id %>">See more</a>
            </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>
    